<!-- ナビゲーションバー -->    
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#"><h1 class="title">#####</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to '基礎知識',"#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '助産師へ質問', new_question_path, class: "nav-link" %>
          </li>
           <li class="nav-item">
             <%= link_to '過去の質問',"#", class: "nav-link" %>
           </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                体験記
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to '体験記を閲覧する', topics_path, class: "dropdown-item" %>
                <%= link_to '体験記を投稿する', new_topic_path, class: "dropdown-item" %>
              </div>
          </li>
          <% if logged_in? %>
          <li class="nav-item">
            <%= link_to 'マイページ',  user_path(id: current_user.id), class: "nav-link" %>
          </li>
          <% end %>
          <!-- ドロップダウンタイプ -->
          <% if !logged_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ログイン/登録
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'ログイン', login_path, class: "dropdown-item" %>
                <%= link_to 'ユーザー登録', new_user_path, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
            <%= link_to 'ログアウト', logout_path, class: "nav-link", data: { confirm: 'ログアウトしますか？' } ,method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    

<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <br><br><br><br><br>
    <h2 class="sub-title">専門家に直接ご相談</h2>
    <div class="row">
      <div class="col-xl-md-offset-1 col-md-2">
        <%= link_to '基礎知識', '#', class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-2">
        <%= link_to '助産師へ質問', '#', class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-2">
        <%= link_to '過去の質問', '#', class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-2">
        <%= link_to '体験記', '#', class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-2">
        <%= link_to 'ログイン', login_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-2">
        <%= link_to 'ユーザー登録', new_user_path, class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>
